body{
    color: rgb(44, 43, 38);
    background: rgb(34, 154, 158);
}
header{
    border-bottom:solid 2px rgb(rgb(240, 241, 248));
    padding: 20px;
    font-size: 32px;
    color: rgb(157, 214, 214);
    background: rgb(178, 178, 216);
}
.chamada{
    background: rgb(228, 219, 219);
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.categorias_videos{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.categorias{
    padding-left: 20px;
    padding-right: 20px;
}
